<% include header %>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <!-- <img src= alt="Italian Trulli">  -->
    <h1> 
        <img src="<%= house.logourl %> "></a>
        <%= house.name %> 
    </h1>
    
    <h3> <%= house.description %> </h3>
    <hr>
<h3> Events </h3>
<h4> If year/month is in black, click to learn more about that year. </h4>

<div class="container">
    <div class="row">
    
        <div class="timeline-centered">

        <% events.forEach(event => { %>
        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-info">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2> <% if(event.article) { %> <a href="<%= event.article %>"><% }; %><% if(event.month) { %>
                    <%= month_name(event.month) %>
                <% }; %>
                <%= event.year %></a> <span><%= event.eventName %></span></h2>
                    <p> <%= event.description %> </p>
                </div>
            </div>

        </article>
        <% }); %>

        </div>
    </div>
 </div>
 
 <div>
    <a href="http://developer.nytimes.com/"> For some linked events, data provided by The New York Times. </a>
 </div>
<hr>
</div>
<h3> Resources </h3>
<h4> Search for the following titles on Hollis to learn more about the house. </h4>
<div>
    <ul>
        <% resources.forEach(resource => { %>
                <% if(resource.titleInfo.title) { %>
                <li>
                    <%= resource.titleInfo.title %>
                </li>
                <% } %>
        <% }); %>
    </ul>
</div>
<hr>
<h3> Featured Rooms </h3>
<div>
    <ul>
        <% featuredRooms.forEach(room => { %>
            <tr>
              <td>
                <a href="/featuredRoom/<%= room.id %>"> <%= room.name %> </a>
              </td>
            </tr>
        <% }); %>
    </ul>
</div>
<hr>
<h3> Rooms </h3>
    <table class="table table-striped">
        <% rooms.forEach(room => { %>
          <tr>
            <td>
              <a href="/room/<%= room.id %>"> <%= room.entryway %>  <%= room.number %> </a>
            </td>
          </tr>
        <% }); %>
    </table>

<% include footer %>
