<% include header %>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <!-- <img src= alt="Italian Trulli">  -->
    <h1> <%= house.name %> </h1>
    <h2> <%= house.description %> <h2>
    </h3> Events </h3>
    <div class ="tl">

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <% events.forEach(event => { %>
                    <div class="timeline">
                        <a href="#" class="timeline-content">
                        <span class="year"><%= event.date %></span>
                        <div class="inner-content">
                            <h3 class="title"><%= event.eventName %></h3>
                            <p class="description"> <%= event.description %></p>
                        </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<hr> -->

<div class="container">
    <div class="row">
    
        <div class="timeline-centered">

        <% events.forEach(event => { %>
        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-info">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#"><% if(event.month) { %>
                    <%= month_name(event.month) %>
                <% }; %>
                <%= event.year %></a> <span><%= event.eventName %></span></h2>
                    <p> <%= event.description %> </p>
                </div>
            </div>

        </article>
        <% }); %>

        </div>
    </div>
 </div>


</div>
<h3> Resources </h3>
<div>
    <ul>
        <% resources.forEach(resource => { %>
                <% if(resource.titleInfo.title) { %>
                <li>
                    <%= resource.titleInfo.title %>
                </li>
                <% } %>
        <% }); %>
    </ul>
</div>
<h3> Featured Rooms </h3>
<div>
    <ul>
        <% featuredRooms.forEach(room => { %>
            <tr>
              <td>
                <a href="/featuredRoom/<%= room.id %>"> <%= room.name %> </a>
              </td>
            </tr>
        <% }); %>
    </ul>
</div>
    <table class="table table-striped">
        <tr><td> Rooms </td></tr>
        <% rooms.forEach(room => { %>
          <tr>
            <td>
              <a href="/room/<%= room.id %>"> <%= room.entryway %>  <%= room.number %> </a>
            </td>
          </tr>
        <% }); %>
    </table>

<% include footer %>
