<% include header %>

<h1>
    <img src="<%= room.logourl %> "></a>
    Welcome to <%=room.entryway %>  <%=room.number %>! 
</h1>

<br>
<br>

<hr>
<div>
    <h2> Comments </h2>
    <ul>
        <% comments.forEach(comment => { %>
        <li>
            Posted on <%= comment.created %>
            by <%= comment.userName %>: 
            <%= comment.text %>
        </li>
        <% }); %>
    </ul>
</div>
<div>
        Did you live in room <%=room.entryway %>  <%=room.number %>? Leave a comment with your experience.
    <form action = "/commenthandler/<%= room.idRoom %>", method = "post">
    <input name = "comment", type="text" size="50"/>
    <input type = "submit"/>
    </form>
</div>

<% include footer %>
